{{ $baseURL := "https://ik.imagekit.io/deadalley31" }} {{ $thumbnailTransform :=
"?tr=w-400,h-400,c-at_max,q-80,f-auto" }} {{ $fullTransform :=
"?tr=w-1920,q-85,f-auto" }} {{ $folder := .folder | default "" }} {{ $tags :=
.tags | default slice }} {{ $filterTags := .filterTags | default slice }} {{
$enablePagination := .enablePagination | default true }}

<script>
  // Inject environment variable into browser
  window.IMAGEKIT_API_KEY = '{{ getenv "IMAGEKIT_API_KEY" }}';
</script>

<script>
  // Gallery configuration
  window.galleryConfig = {
    folder: '{{ $folder }}',
    tags: {{ $tags | jsonify | safeJS }},
    filterTags: {{ $filterTags | jsonify | safeJS }},
    enablePagination: {{ $enablePagination | jsonify | safeJS }},
    baseURL: '{{ $baseURL }}',
    thumbnailTransform: '{{ $thumbnailTransform }}',
    fullTransform: '{{ $fullTransform }}',
    apiKey: window.IMAGEKIT_API_KEY || ''
  };
</script>
